[GoogleSheets]
enabled: true
credentials_filepath: google_sheets_creds.json

[GoogleAnalytics]
enabled: true
tracking_id: XX-000000000-0

[Bitrix24]
enabled: true
domain: b24-XX0000.bitrix24.ru
client_id: local.XXXXXXXXXXXXXX.XXXXXXXX
client_secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
access_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
refresh_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

[WhatsApp]
enabled: false
endpoint: https://XX00.chat-api.com/instance00000/
token: XXXXXXXXXXXXXXXX
polling_delay: 1
